.modal-header
  button.close(type='button' ng-click='$dismiss()')
    span(aria-hidden='true') ×
    span.sr-only {{'dialog_close' | tr}}
  h4.modal-title {{'options_modalHeader_applyOptions' | tr}}
.modal-body
  p {{'options_applyOptionsRequired' | tr}}
  p {{'options_applyOptionsConfirm' | tr}}
.modal-footer
  button.btn.btn-default(ng-click='$dismiss()') {{'dialog_cancel' | tr}}
  button.btn.btn-primary(type='button' ng-click='$close("ok")') {{'options_apply' | tr}}
