.modal-header
  button.close(type='button' ng-click='$dismiss()')
    span(aria-hidden='true') ×
    span.sr-only {{'dialog_close' | tr}}
  h4.modal-title {{'options_modalHeader_cannotDeleteProfile' | tr}}
.modal-body
  p {{'options_profileReferredBy' | tr}}
  .well
    ul.list-style-none
      li(ng-repeat='p in refs')
        span(omega-profile-inline='p' options='options' disp-name='dispNameFilter')
  p {{'options_modifyReferringProfiles' | tr}}
.modal-footer
  button.btn.btn-default(ng-click='$dismiss()') {{'dialog_cancel' | tr}}
