.modal-header
  button.close(type='button' ng-click='$dismiss()')
    span(aria-hidden='true') ×
    span.sr-only {{'dialog_close' | tr}}
  h4.modal-title {{'options_modalHeader_deleteAttached' | tr}}
.modal-body
  p {{'options_deleteAttachedConfirm' | tr}}
  .well
    span(omega-profile-icon='attached' options='options')
    = ' '
    | {{attached.sourceUrl || ('options_ruleListLineCount' | tr:[attached.ruleList.split('\n').length])}}
.modal-footer
  button.btn.btn-default(ng-click='$dismiss()') {{'dialog_cancel' | tr}}
  button.btn.btn-danger(type='button' ng-click='$close("ok")') {{'options_deleteAttached' | tr}}
