.page-header
  h2 {{'options_tab_importExport' | tr}}
section.settings-group
  h3 {{'options_group_importExportProfile' | tr}}
  .help-block
    .text-info
      span.glyphicon.glyphicon-info-sign
      = ' '
      | {{'options_exportProfileHelp' | tr}}
  div.checkbox(ng-show='!(options["-showConditionTypes"] > 0)')
    label
      input(type='checkbox' ng-model='options["-exportLegacyRuleList"]')
      span {{'options_exportLegacyRuleList' | tr}}
    p.help-block(omega-html="'options_exportLegacyRuleListHelp' | tr")
section.settings-group
  h3 {{'options_group_importExportSettings' | tr}}
  p
    button.btn.btn-default(ng-click='exportOptions()')
      span.glyphicon.glyphicon-floppy-save
      = ' '
      | {{'options_makeBackup' | tr}}
    span.help-inline {{'options_makeBackupHelp' | tr}}
  p
    input#restore-local-file(type='file' omega-upload='restoreLocal($content)'
      omega-error='restoreLocalError($error)')
    button.btn.btn-default(ng-click='triggerFileInput()'
      ladda='restoringLocal' data-spinner-color="#000000")
      span.glyphicon.glyphicon-folder-open
      = ' '
      | {{'options_restoreLocal' | tr}}
    span.help-inline {{'options_restoreLocalHelp' | tr}}
  div
    label {{'options_restoreOnline' | tr}}
    .input-group.width-limit
      input.form-control(type='url' ng-model='restoreOnlineUrl' placeholder="{{'options_restoreOnlinePlaceholder' | tr}}")
      span.input-group-btn
        button.btn.btn-default(ng-click='restoreOnline()' ladda='restoringOnline' data-spinner-color="#000000")
          | {{'options_restoreOnlineSubmit' | tr}}
section.settings-group
  h3 {{'options_group_syncing' | tr}}
  div(ng-show='syncOptions == "pristine" || syncOptions == "disabled"')
    p.help-block(omega-html='"options_syncPristineHelp" | tr')
    p
      button.btn.btn-default(ng-click='enableOptionsSync()')
        span.glyphicon.glyphicon-cloud-upload
        = ' '
        | {{'options_syncEnable' | tr}}
  div(ng-show='syncOptions == "sync"')
    p.alert.alert-success.width-limit
      span.glyphicon.glyphicon-ok
      = ' '
      | {{"options_syncSyncAlert" | tr}}
    p.help-block(omega-html='"options_syncSyncHelp" | tr')
    p
      button.btn.btn-warning(ng-click='disableOptionsSync()')
        span.glyphicon.glyphicon-remove-sign
        = ' '
        | {{'options_syncDisable' | tr}}
  div(ng-show='syncOptions == "conflict"')
    p.alert.alert-info.width-limit
      span.glyphicon.glyphicon-info-sign
      = ' '
      | {{"options_syncConflictAlert" | tr}}
    p.help-block(omega-html='"options_syncConflictHelp" | tr')
    p
      button.btn.btn-danger(ng-click='enableOptionsSync({force: true})')
        span.glyphicon.glyphicon-cloud-download
        = ' '
        | {{'options_syncEnableForce' | tr}}
      = ' '
      button.btn.btn-link(ng-click='resetOptionsSync()')
        span.glyphicon.glyphicon-erase
        = ' '
        | {{'options_syncReset' | tr}}
  div(ng-show='syncOptions == "unsupported"')
    p.help-block(omega-html='"options_syncUnsupportedHelp" | tr')
