.btn-group.omega-profile-select(dropdown on-toggle="toggled(open)")
  button.btn.btn-default.dropdown-toggle(type='button' aria-expanded='false'
    role='listbox' aria-haspopup='true')
    span.glyphicon(class='{{profileIcon || "glyphicon-time"}}' ng-style='{color: selectedProfile.color}')
    = ' '
    span(ng-show='!!profileName') {{getName(selectedProfile)}}
    span(ng-show='!profileName') {{defaultText}}
    = ' '
    span.caret
  ul.dropdown-menu(role='listbox')
    li(role='option' ng-if='!!defaultText' ng-class='{active: profileName == ""}')
      a(ng-click='setProfileName("")')
        span.glyphicon.glyphicon-time
        = ' {{defaultText}}'
    li(role='option' ng-repeat='profile in dispProfiles' ng-class='{active: profileName == profile.name}')
      a(ng-click='setProfileName(profile.name)')
        span.glyphicon(class='{{profileIcons[profile.profileType]}}' ng-style='{color: profile.color}')
        = ' {{getName(profile)}}'
