div
  section.settings-group
    h3 {{'options_group_virtualProfile' | tr}}
    p.help-block
      | {{'options_virtualProfileTargetHelp' | tr}}
    .form-group
      label {{'options_virtualProfileTarget' | tr}}
      = ' '
      div(omega-profile-select='options | profiles:profile' ng-model='profile.defaultProfileName'
        disp-name='dispNameFilter' style='display: inline-block;' options='options')
  section.settings-group
    h3 {{'options_group_virtualProfileReplace' | tr}}
    p.help-block(omega-html='"options_virtualProfileReplaceHelp" | tr:[$profile("profileByName(profile.defaultProfileName)")]')
    .form-group
      button.btn.btn-default(ng-click='replaceProfile(profile.defaultProfileName, profile.name)')
        span.glyphicon.glyphicon-search
        = ' '
        | {{'options_virtualProfileReplace' | tr}}
