section.settings-group(ng-controller='PacProfileCtrl')
  h3 {{'options_group_pacUrl' | tr}}
  .width-limit(input-group-clear type='text' model='profile.pacUrl'
    ng-pattern='referenced ? urlRegex : urlWithFile' controller='pacUrlCtrl.ctrl')
  p.help-block {{'options_pacUrlHelp' | tr}}
  .has-warning(ng-show='isFileUrl(profile.pacUrl) && !referenced')
    p.help-block #[span.glyphicon.glyphicon-warning-sign] {{'options_pacUrlFile' | tr}}
  .has-error(ng-show='isFileUrl(pacUrlCtrl.ctrl.$viewValue) && referenced')
    p.help-block #[span.glyphicon.glyphicon-remove-sign] {{'options_pacUrlFile' | tr}}
    p.help-block {{'options_pacUrlFileDisabled' | tr}}
section.settings-group
  h3 {{'options_group_pacScript' | tr}}
  p
    button.btn.btn-default(ng-disabled='!profile.pacUrl' ng-click='updateProfile(profile.name)'
        ladda='updatingProfile[profile.name]' data-spinner-color="#000000")
      | #[span.glyphicon.glyphicon-download-alt] {{'options_downloadProfileNow' | tr}}
  textarea.monospace.form-control.width-limit(ng-model='profile.pacScript' rows=20
    ng-disabled='!!profile.pacUrl')
