div(ng-controller='FixedProfileCtrl')
  section.settings-group.settings-group-fixed-servers
    h3 {{'options_group_proxyServers' | tr}}
    .table-responsive
      table.fixed-servers.table.table-bordered.table-striped.width-limit-lg
        thead
          tr
            th {{'options_proxy_scheme' | tr}}
            th {{'options_proxy_protocol' | tr}}
            th {{'options_proxy_server' | tr}}
            th {{'options_proxy_port' | tr}}
            th
        tbody
          tr(ng-repeat='scheme in urlSchemes' ng-show='scheme == "" || showAdvanced')
            td {{schemeDisp[scheme] || ('options_scheme_default' | tr)}}
            td
              select.form-control(ng-model='proxyEditors[scheme].scheme'
                ng-options='opt.value as opt.label for opt in optionsForScheme[scheme]')
            td(ng-if='proxyEditors[scheme].scheme')
              input.form-control(type='text' ng-model='proxyEditors[scheme].host' required)
            td(ng-if='!proxyEditors[scheme].scheme')
              input.form-control(type='text' value='' placeholder='{{proxyEditors[""].host}}' disabled)

            td(ng-if='proxyEditors[scheme].scheme')
              input.form-control(type='number' min='1' ng-model='proxyEditors[scheme].port' required)
            td(ng-if='!proxyEditors[scheme].scheme')
              input.form-control(type='number' value='' placeholder='{{proxyEditors[""].port}}' disabled)
            td.proxy-actions
              button.btn.btn-xs.proxy-auth-toggle(ng-show='authSupported[proxyEditors[scheme].scheme]'
                ng-class='isProxyAuthActive(scheme) ? "btn-success" : "btn-default"'
                type='button' role='button' ng-click='editProxyAuth(scheme)' title='{{"options_proxy_auth" | tr}}')
                span.glyphicon.glyphicon-lock
        tbody(ng-show='!showAdvanced')
          tr.fixed-show-advanced
            td(colspan='7')
              button.btn.btn-link(ng-click='showAdvanced = true')
                | #[span.glyphicon.glyphicon-chevron-down] {{'options_proxy_expand' | tr}}
  section.settings-group
    h3 {{'options_group_bypassList' | tr}}
    p.help-block {{'options_bypassListHelp' | tr}}
    p.help-block
      a(href='https://developer.chrome.com/extensions/proxy#bypass_list' target='_blank')
        | {{'options_bypassListHelpLinkText' | tr}}
    textarea.monospace.form-control.width-limit(rows='10' ng-model='bypassList' ng-model-options="{updateOn:'blur'}")
